.enviar{
    color: green;
}

#grid-container {
    padding: 20px;
    color: black;
    display: grid;
    justify-content:space-evenly;
    background-color:whitesmoke;
    grid-template-columns: repeat(4, 400px);
    grid-template-rows: 600px 600px 600px 600px 1100px;
    gap: 50px;
    
}

.grid-item:nth-child(6) {
    grid-column:2/4;
}
.grid-item:nth-child(12) {
    grid-column: 1/3;
}
.grid-item:nth-child(15) {
    grid-column: 1/4;
}

.grid-item{
    transition: all 5ms;
    position:relative;
    
    :hover{
        transform: scale(1.02);
        filter:hue-rotate(150deg);}
    }

footer{
    width: 100%;
    padding: 50px 0px;
    background-color: black;
    color: white;
    
}
.container_footer{
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
    margin-top: 100px;
   

}
.box_footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
    font-weight: 400;
    font-size: 18px;
   

}

    .terms{
        max-width: 350px;
        margin-top: 20px;
        font-weight: 500;
        font-size: 18px;

    }

    .box_footer a{
        margin-top: 10px;
        text-decoration: none;
        color: white;
    }


    .contenedorhistoria{
        display: grid;
        grid-template-columns:repeat( 2,1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 20px;
        margin-top: 20px;
        h1{
            font-size:xx-large;
        }
    }

        .socios{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            align-items: center;
        }
         
    
    .Marcas{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin-top: 20px;
        margin-left: 20px;
        text-align: center;
        img{
            width:100%
        }
    }

      

    
       @media (min-width: 320px) and (max-width: 768px) {
        .contenedorhistoria {
            color:black;
            display: grid;
            grid-template-columns: auto;
        }
        
    }

    @media (min-width: 320px) and (max-width: 768px) {
    .socios{
        display: grid;
        grid-template-columns:repeat(1,1fr);
        grid-template-rows: repeat(4,1fr);
        
    }
}
        
            
@media (min-width: 320px) and (max-width: 768px) {
    .container_footer{
        display: grid;
        grid-template-columns: auto;
    }
}           
    

@media (min-width:320px) and(max-width: 768px) {
    .Marcas{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
}
@media (min-width:320px) and(max-width: 768px) {
    .container_footer{
        display: flex;
        flex-direction: column;
    }
}
    